<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="ReportNG" verbose="1"  parallel="methods" thread-count="5">

 <listeners>
 <listener class-name= "org.uncommons.reportng.HTMLReporter" /> 
 <listener class-name= "org.uncommons.reportng.JUnitXMLReporter"/>
 </listeners>
 
  <test name="ClassTest1" >
    <classes>
       <class name="com.test.ReportNGTest1" />
    </classes>
  </test>
 
  <test name="ClassTest2">
    <classes>
      <class name="com.test.ReportNGTest2" />
    </classes>
  </test>
</suite>
